*
{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: black;
}

.title { display: flex; align-items: start; justify-content: left; color: white; font-size: 2.5rem; font-family: monospace; }
.con {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content:start;
  height: 100vh;
  gap: 2rem;
}

.title-con{ display: flex; align-items: start; justify-content: start;align-items: start; padding: 20px; width: 90%;}

.input-feild {
  margin-top: 10%;
  max-width: 650px;
  min-width: 600px;
  height: 350px;
  border: 2px solid #4cafef;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input-feild:hover {
  border-color: #2196f3;
  transform: scale(1.02);
}

.file-input {
  display: none;
}

.upload-icon {
  font-size: 4rem;
  color: #4cafef;
  background-color: transparent;
  margin-bottom: 12px;
  transition: transform 0.3s ease;
}

.input-feild:hover .upload-icon {
  transform: translateY(-5px);
}

.upload-text {
  color: #ddd;
  font-size: 1rem;
}

.l{
  color: rgb(0, 255, 0);
}
.m{
  color: rgb(252, 252, 252);
}
.title span{
  font-family:monospace;
}
.output 
{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 60%;
  background-color: rgb(25, 24, 24);
  flex-direction: row;
  gap: 1rem;
  border-radius: 12px;
  border: white 2px solid;
  color: white;
  padding: 30px;
}